<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/account.css">
</head>
<body>
    <!-- Homepage visitor can choose 2 options => Login / Sign up --> 
    <div class="choose-area">
        <form action="/login" method="GET">
            <div class="log-area">
                <div class="login-area"><button>Login</button></div>
            </div>
        </form>
        <form action="/sign-up" method="GET">
            <div class="/sign-area">
                <div class="login-area"><button>Sign up</button></div>
            </div>
        </form>
    </div>

    
</body>
</html>