<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <p>Edit</p>

     <form action="/input/<%= todos.id %>" method="POST">
        <p>Edit</p>
               
        <label for="task">Task</label>
        
        <input type="text"  name="task" id="task" placeholder="Enter a Task">
       
        <label for="statustype">Status</label>
        
        <input list="status" name="statustype" id="statustype" placeholder="Status">
        <datalist id = "status">
            <option value="Open">Open</option>
            <option value="Process">Process</option>
            <option value="Done">Done</option>
        </datalist>
        <br>

        <br>
        <button class="submit">Submit</button>
    
    </form>
</body>
</html>