<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/public/assets/login.css">
</head>
<body>
    <!-- Login Page -->
    <div class="log-area-con">

        <!-- Flash failure message -->
        <h2>Welcome</h2>
        <% if (messages.error) { %>
            <%= messages.error  %>
        <% } %>
        
        <!--  Input options for login page-->
        <form action="/login" method="POST">
            <input type="email" name="logemail" placeholder="Email" >
            <input type="password" name="password" placeholder="password" >
            <button>Submit</button>
        </form>

        <p>No account ? <a href="/sign-up">Register</a></p>
    </div>
   
    
</body>
</html>